body

{background-image: url("Universe.jpg");
}

H1 {color: #916ee9; font-family: andale mono, monospace;}

p {color: #f5c4e0; font-family: andale mono, monospace;}

p2 {color: lavender; font-family: andale mono, monospace;}

p3 {color: rgb(89, 204, 243); font-family: andale mono, monospace;}

p4 {color: rgb(243, 245, 85); font-family: andale mono, monospace;}

i {color: #eb75f3;}

b {color: #f11c26;}

.high1  {background: rgb(231, 192, 255);}

#banner {width:800px;
height:250px;}

#mypic {width: 200px;}

.spacetime {
display: flex;
gap: 25px;
}

.hidden {
    background: lavender;
    padding: 20px;
    width: 800px;

}

.hidden:hover{
    background: rgb(1, 1, 1);
}